<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.admin.server.dao.MenuDao">

    <resultMap id="BaseResultMap" type="Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title"/>
        <result column="pid" property="pid"/>
        <result column="pids" property="pids"/>
        <result column="url" property="url"/>
        <result column="perms" property="perms"/>
        <result column="icon" property="icon"/>
        <result column="type" property="type"/>
        <result column="sort" property="sort"/>
        <result column="remark" property="remark"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="findMenuByMenuIds" parameterType="java.util.List" resultMap="BaseResultMap">
        select * from sys_menu
        <where>
            <if test="menuIdList != null">
                id in
                <foreach item="menuId" index="index" collection="menuIdList"
                         open="(" separator="," close=")">
                    #{menuId}
                </foreach>
            </if>
        </where>
    </select>

</mapper>